.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
  overflow: hidden;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: end;

  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}
.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}

.helperWrapper {
  position: relative;
}

.helperImage {
  width: 68px;
  height: 68px;
  position: relative;
  z-index: 3;
}

.helperHintWrapper {
  width: 200vw;
  height: 100vh;
  background: #004980;
  position: absolute;
  top: -50%;
  left: 0;
  transform: translateX(-50%);
  opacity: 0.6;
  z-index: 2;
  display: none;

  &:has(+ .helperImage:hover) {
    display: block;
  }
}

.helperHintContainer {
  width: 222px;
  border-radius: 12px;
  background: #c2f5ff;
  padding: 20px;
  position: absolute;
  translate: calc(34px - 50%);
  opacity: 1;
  z-index: 3;
  display: none;

  .helperImage:hover + & {
    display: block;
  }

  h2 {
    font-family: StratosSkyeng;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #004980;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  p {
    font-family: StratosSkyeng;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #004980;
  }
}
