.modal {
    width: 480px;
    height: 459px;
    border-radius: 12px;
    background: #c2f5ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 96px;
    height: 96px;
    margin-bottom: 8px;
}