.container {
  width: 944px;
  margin: 0 auto;
  padding-top: 22px;
  box-sizing: border-box;
}

.title {
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
}

.list {
  background-color: white;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  width: 944px;
  height: 64px;
  border-radius: 12px;
  box-sizing: border-box;
}

.achievementContainer {
  display: flex;
  gap: 6px;
}

.achievementBlock {
  position: relative;

  div {
    padding: 15px 20px;
    border-radius: 12px;
    background: #c2f5ff;
    width: max-content;
    height: 78px;
    font-family: StratosSkyeng;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #004980;
    position: absolute;
    translate: 0 calc(-100% - 13px);
    box-sizing: border-box;
    display: none;

    & p {
      font: inherit;
    }

    &::before {
      content: "";
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
      display: block;
      position: absolute;
      width: 20px;
      height: 14px;
      top: 73px;
      left: 14px;
      background: #c2f5ff;
    }

    &:has(+ img:hover) {
      display: block;
    }
  }

  img {
    width: 32px;
    height: 32px; /* 
    padding: 3px; */
  }
}
.listHeader {
  color: #999999;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li {
  list-style-type: none;
  & > p {
    font-family: StratosSkyeng;
    font-size: 24px;
    line-height: 32px;
  }
  & > p:first-child {
    width: 178px;
    margin-right: 66px;
  }
  & > p:nth-child(2) {
    width: 227px;
    margin-right: 66px;
  }
  & > p,
  & > div {
    &:nth-child(3) {
      width: 194px;
      margin-right: 66px;
    }
  }
  & > p:last-child {
    width: 92px;
    margin-right: 35px;
  }
}
